USE [master]
GO

CREATE DATABASE [EmployeeManagement]
GO

USE [EmployeeManagement]
GO
/****** Object:  Table [dbo].[AccountMember]    Script Date: 7/20/2024 7:11:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountMember](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[MemberPassword] [nvarchar](80) NOT NULL,
	[FullName] [nvarchar](80) NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[MemberRole] [int] NOT NULL,
	[EmployeeId] [int] NULL,
 CONSTRAINT [PK_AccountMember] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 7/20/2024 7:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [varchar](10) NOT NULL,
	[CountryName] [varchar](50) NULL,
	[RegionID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 7/20/2024 7:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](50) NULL,
	[ManagerID] [int] NULL,
	[LocationID] [varchar](5) NULL,
 CONSTRAINT [PK__Departme__B2079BCD4F0E5532] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 7/20/2024 7:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](30) NULL,
	[LastName] [varchar](30) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[HireDate] [date] NULL,
	[JobID] [varchar](20) NULL,
	[Salary] [float] NULL,
	[Commission_pct] [float] NULL,
	[ManagerID] [int] NULL,
	[DepartmentID] [int] NULL,
 CONSTRAINT [PK__Employee__7AD04FF12DCE94DA] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 7/20/2024 7:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[JobID] [varchar](20) NOT NULL,
	[JobTitle] [varchar](100) NULL,
	[min_salary] [int] NULL,
	[max_salary] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 7/20/2024 7:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[LocationID] [varchar](5) NOT NULL,
	[StreetAddress] [varchar](100) NULL,
	[PostalCode] [varchar](20) NULL,
	[City] [varchar](30) NULL,
	[StateProvince] [varchar](30) NULL,
	[CountryID] [varchar](10) NULL,
 CONSTRAINT [PK__Location__E7FEA477D92A4E78] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 7/20/2024 7:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[RegionID] [int] NOT NULL,
	[RegionName] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[RegionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/20/2024 7:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] NOT NULL,
	[Name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AccountMember] ON 

INSERT [dbo].[AccountMember] ([MemberID], [MemberPassword], [FullName], [EmailAddress], [MemberRole], [EmployeeId]) VALUES (1, N'@admin123', N'Administrator', N'admin@CompanyName.com', 1, NULL)
INSERT [dbo].[AccountMember] ([MemberID], [MemberPassword], [FullName], [EmailAddress], [MemberRole], [EmployeeId]) VALUES (2, N'@staff123', N'Staff', N'staff@CompanyName.com', 2, 101)
INSERT [dbo].[AccountMember] ([MemberID], [MemberPassword], [FullName], [EmailAddress], [MemberRole], [EmployeeId]) VALUES (5, N'1', N'Administrator', N'1', 1, NULL)
SET IDENTITY_INSERT [dbo].[AccountMember] OFF
GO
INSERT [dbo].[Countries] ([CountryID], [CountryName], [RegionID]) VALUES (N'1', N'1', 1)
INSERT [dbo].[Countries] ([CountryID], [CountryName], [RegionID]) VALUES (N'AR', N'Argentina', 2)
INSERT [dbo].[Countries] ([CountryID], [CountryName], [RegionID]) VALUES (N'AU', N'Australia', 3)
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [ManagerID], [LocationID]) VALUES (10, N'1', 101, NULL)
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [ManagerID], [LocationID]) VALUES (20, N'Marketing', 102, N'1800')
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [ManagerID], [LocationID]) VALUES (40, N'Human Resources', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Email], [Phone], [HireDate], [JobID], [Salary], [Commission_pct], [ManagerID], [DepartmentID]) VALUES (101, N'Neena1', N'Kochhar1', N'NKOCHHAR', N'515.123.4568', CAST(N'2005-09-21' AS Date), N'AD_VP', 17000, 0, NULL, 90)
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Email], [Phone], [HireDate], [JobID], [Salary], [Commission_pct], [ManagerID], [DepartmentID]) VALUES (102, N'Lex', N'De Haan', N'LDEHAAN', N'515.123.4569', CAST(N'2001-01-13' AS Date), N'AD_VP', 17000, 0, NULL, 90)
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Email], [Phone], [HireDate], [JobID], [Salary], [Commission_pct], [ManagerID], [DepartmentID]) VALUES (103, N'Alexander', N'Hunold', N'AHUNOLD', N'590.423.4567', CAST(N'2006-01-03' AS Date), N'IT_PROG', 9000, 0, 102, 60)
GO
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
INSERT [dbo].[Jobs] ([JobID], [JobTitle], [min_salary], [max_salary]) VALUES (N'AC_ACCOUNT', N'Public Accountant8', 4200, 9000)
INSERT [dbo].[Jobs] ([JobID], [JobTitle], [min_salary], [max_salary]) VALUES (N'AC_ACCOUNT1', N'Public Accountant8', 4200, 9000)
INSERT [dbo].[Jobs] ([JobID], [JobTitle], [min_salary], [max_salary]) VALUES (N'AD_ASST', N'Administration Assistant', 3000, 6000)
GO
INSERT [dbo].[Locations] ([LocationID], [StreetAddress], [PostalCode], [City], [StateProvince], [CountryID]) VALUES (N'1100', N'93091 Calle della Testa', N'10934', N'Venice', NULL, N'IT')
INSERT [dbo].[Locations] ([LocationID], [StreetAddress], [PostalCode], [City], [StateProvince], [CountryID]) VALUES (N'1200', N'2017 Shinjuku-ku', N'1689', N'Tokyo', N'Tokyo Prefecture', N'JP')
INSERT [dbo].[Locations] ([LocationID], [StreetAddress], [PostalCode], [City], [StateProvince], [CountryID]) VALUES (N'1300', N'9450 Kamiya-cho', N'6823', N'Hiroshima', NULL, N'JP')
GO
INSERT [dbo].[Regions] ([RegionID], [RegionName]) VALUES (1, N'Europe')
INSERT [dbo].[Regions] ([RegionID], [RegionName]) VALUES (2, N'Americas')
INSERT [dbo].[Regions] ([RegionID], [RegionName]) VALUES (3, N'Asia')
GO
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (2, N'Staff')
GO
ALTER TABLE [dbo].[AccountMember]  WITH CHECK ADD  CONSTRAINT [FK_AccountMember_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[AccountMember] CHECK CONSTRAINT [FK_AccountMember_Employees]
GO
ALTER TABLE [dbo].[AccountMember]  WITH CHECK ADD  CONSTRAINT [FK_AccountMember_Role] FOREIGN KEY([MemberRole])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[AccountMember] CHECK CONSTRAINT [FK_AccountMember_Role]
GO
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD FOREIGN KEY([RegionID])
REFERENCES [dbo].[Regions] ([RegionID])
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK__Departmen__Locat__4222D4EF] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK__Departmen__Locat__4222D4EF]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK__Departmen__Manag__4316F928] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK__Departmen__Manag__4316F928]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK__Employees__Depar__440B1D61] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK__Employees__Depar__440B1D61]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK__Employees__JobID__44FF419A] FOREIGN KEY([JobID])
REFERENCES [dbo].[Jobs] ([JobID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK__Employees__JobID__44FF419A]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK__Employees__Manag__45F365D3] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK__Employees__Manag__45F365D3]
GO
ALTER TABLE [dbo].[Locations]  WITH CHECK ADD  CONSTRAINT [FK__Locations__Count__46E78A0C] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [FK__Locations__Count__46E78A0C]
GO
